.mainWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0067A3;
    font-size: 18px;
    width: 100%;
    margin: 0;
    height: 55px;
    padding: 0 3vw;
    color:#fff;

    @media screen and (max-width: 1000px) {
        font-size: 16px;
    }
    @media screen and (max-width: 500px) {
        font-size: 12px;
    }

    h1{
        font-size: 1.5em;
        color:#fff;
        font-weight: normal;
        line-height: 120%;
    }

    .userWrap {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;

        .profileWrap {
            position: absolute;
            z-index: 10;
            top: 35px;
            right: 5px;
            background-color: #fff;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            width: max-content;
            gap: 5px;
            min-width: 40px;

            .profileButtons {
                background-color: transparent;
                text-align: left;
                border: none;
                font-size: 1em ;
                cursor: pointer;
                width: 140px;
                padding: 10px 0 10px 7px;
                border-radius: 5px;

                &:hover{
                    background-color: #DEDEDE;
                    
                }
            }
        }

        .userAvatar {
            width: 1.5em;
            background-color: #fff;
            border-radius: 50%;
        }

        .arrowDownButton {
            width: 2.5em;
            background-color: transparent;
            border: 0;

            .arrowDown {
                transition: transform 0.3s ease;
                width: 100%;

                &.rotated {
                    transform: rotate(180deg);
                }

                &.default {
                    transform: rotate(0deg);
                }
            }
        }


    }

    .descriptions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        color:#fff;
        font-weight: normal;
        line-height: 120%;
        font-size: 1em;

        @media screen and (max-width: 500px) {
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
            word-wrap: break-word;
        }
    }
}
