.kanbansWrap {
    background-color: #EBECF0;
    position: relative;
    padding: 13px;
    border-radius: 10px;
    max-height: 80vh;
    height:max-content;
    font-family: 'Roboto', sans-serif;
    overflow-y: auto; 
    overflow-x: hidden;
    font-size: 18px;
    max-width: 320px;
    min-width: 250px;

    @media screen and (max-width: 1000px) {
        font-size: 16px;
    }

    @media screen and (max-width: 500px) {
        font-size: 14px;
    }

    &::-webkit-scrollbar {
        width: 12px; 
        border-radius: 5px;
        height: 90%;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #CBCBCB; 
        border-radius: 5px;
    }
    
    &::-webkit-scrollbar-track {
        background-color: transparent; 
    }

    .addedTasksList {
        list-style-type: none;
        padding: 0;
        margin: 0;

        .addedTask {
            background-color: #FFFFFF;
            border-radius: 5px;
            margin: 10px 0;
            padding: 10px 7px;
            width: 100%;
            box-sizing: border-box;
            border: none;
            text-overflow: clip;
    
            a {
                text-decoration: none;
                color: #000000;
                word-wrap: break-word;
                font-size: 1em;
            }
        }
    }

    .addCardButton {
        color: #5E6C84;
        border: none;
        font-size: 1em;
        background: transparent;
        font-family: 'Roboto', sans-serif;
    }
    .addTaskInput {
        background-color: #FFFFFF;
        border-radius: 5px;
        padding: 10px 7px;
        width: 100%;
        box-sizing: border-box;
        border: none;
        text-overflow: clip;
        font-size: 1em;
    }

    .submitButton {
        background-color: #0079BF;
        display: block;
        color: #FFFFFF;
        padding: 6px 11px;
        border-radius: 5px;
        border: none;
        margin-top: 5px;
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
    }

    .dropDownList {
        position: relative;
        width: 100%;
        background-color: #FFFFFF;
        border-radius: 7px;
        .arrowIconWrap {
            padding: 5px;
            display: flex;
            flex-direction: row;
            justify-content: end;
            width: 100%;
            .arrowIcon {
                height: 20px;
                width: 20px;
            }
        }

        .optionsList {
            list-style-type: none;
            position: absolute;
            z-index: 10;
            top: 40px; 
            left: 0;
            width: 100%;
            margin: 0;
            padding: 0;
            background-color: #FFFFFF;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
            z-index: 10;

            .optionItem {
                padding: 10px 7px;
                cursor: pointer;
                font-size: 1rem;
                &:hover {
                    background: #DEDEDE;
                }
            }
        }
    }
}
